<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Adryan Maikel">
    <title>Informações</title>
    <link rel="stylesheet" href="/static/sheet/informations.css">
    <script type="module" src="/static/sheet/informations.js"></script>
</head>
<body class="row">

    <header><h1>Editar informações</h1></header>

    <section>
        <ul>
            <li class="selected"><button id="ocorrencias">Ocorrências</button></li>
            <li><button id="operators">Operadores</button></li>
            <li><button id="problemas">Problemas</button></li>
            <li><button id="sentidos">Sentidos</button></li>
        </ul>
        <iframe src="/sheet/ocorrencias" frameborder="0"></iframe>
    </section>

    <footer><address>Adryan Maikel</address></footer>

</body>
</html>