<!DOCTYPE html>
<!--

-->
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Adryan Maikel">
    <title>Operadores</title>
    <link rel="stylesheet" href="/static/sheet/sheet.css">
    <script src="/static/sheet/operators.js" type="module" defer></script>
    <script src="/static/font-awesome.js" crossorigin="anonymous"></script>
</head>
<body>
    <header><h1>Operadores</h1></header>

    <section>
        <h2>Dados:</h2>
        <table border="1px">
            <caption>
                <div class="row">
                    <h3>Operadores</h3>
                    <button id="add-operator">
                        <i class="fa-solid fa-user-plus"></i>
                        <!-- <img src="/static/icons/user-plus.svg" alt="Icone contendo um boneco de usuário e um sinal de mais"> -->
                    </button>
                </div>
            </caption>
            <thead>
                <tr>
                    <th>Id</th>
                    <th width="110px">Operador</th>
                    <th width="50px">Crachá</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                <tr>{% for row_id, row in rows %}
                    <td align="right" id="id-row-{{ row_id + 1 }}">
                        {{ row_id + 1 }}
                    </td>
                    <td align="left" id="operator-row-{{ row_id + 1 }}">
                        {{ row[0] }}
                    </td>
                    <td align="right" id="cracha-row-{{ row_id + 1 }}">
                        {{ row[1] }}
                    </td>
                    <td>
                        <button class="edit" id="edit-row-{{ row_id + 1 }}">
                            <i class="fa-solid fa-user-pen"></i>
                        </button>
                    </td>
                    <td>
                        <button class="trash" id="del-row-{{ row_id + 1 }}">
                            <i class="fa-solid fa-user-xmark"></i>
                        </button>
                    </td>
                </tr>{% endfor %}
            </tbody>
        </table>

        <form id="form-operator" action="#" method="post" autocomplete="off">
            <div class="row">
                <h3>Operador</h3>
            </div>
            <div class="row">
                <div class="box">
                    <span>0</span>
                </div>
                <div class="box">
                    <input type="text" id="operator" name="operator" placeholder="Operador">
                </div>
                <div class="box">
                    <input type="number" id="cracha" name="cracha" placeholder="Crachá">
                </div>
                <div class="box confirm">
                    <button type="submit">
                        <i class="fa-solid fa-check"></i>
                        <!-- <img src="/static/icons/check.svg" alt="Icone de confirmar."> -->
                    </button>
                </div>
                <div class="box cancel">
                    <button type="reset">
                        <i class="fa-solid fa-ban"></i>
                        <!-- <img src="/static/icons/ban.svg" alt="Icone de cancelar."> -->
                    </button>
                </div>
            </div>
        </form>
    </section>

    <footer><address>Adryan Maikel</address></footer>
</body>
</html>