@import "/static/global.css";
header, h2{display: none}
section{width: 100%;}
caption{
    position: relative;
    background: #fff;
    z-index: 10;
}
caption>.row{gap: 5px;}
table{margin-left: 4px;}
table, form{width: 339px}
form{
    position: absolute;
    z-index: 9;
    top: -5px;
    left: 5px;
    transition: top .5s ease;
}
form.open{top: 23px}

form>.row{width: 334px;justify-content: start;gap: 1px;background: #fff;}
form>.row>.box:nth-child(1){width: 15px}
form>.row>.box:nth-child(1)>span{display: block;text-align: right}
form>.row>.box:nth-child(4){width: 45px;}
form>.row>.box:nth-child(5){width: 51px;}

th,td,.box{
    padding: 2px 5px;
}
form{padding: 2px 2px}
form>.row>.box{
    border: 1px solid;
}

caption>.row>button{font-size: 18px;}
td>button, .box>button{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.box>button{align-items: center;}
td>button>i, .box>button>i{
    font-size: 16px;
    pointer-events: none;
}

button>img{
    width: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    text-align: right;
}

input#operator{width: 108px;}
input#cracha{width: 50px;}

