@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{--blue: #1833C9;--bg-black: #333;--bg-white: #EAEAEA;--color-black: #000;--color-white: #FAFAFA;}
*{margin: 0;padding: 0;box-sizing: border-box;font-family: "Poppins", sans-serif}
header,input[type="checkbox"]{display: none}
/*Classes*/
.row,.column,.center{display: flex;justify-content: center}
.row{flex-direction: row;}
.column,.center{flex-direction: column;}
.row,.center{align-items: center}
.button{color: var(--color-white);background: var(--blue); border-radius: 7px;padding: 5px;cursor: pointer;}
.box{}
/*Icones*/
.icons{width: 20px;height: 20px;position: relative;overflow: hidden}
.icons>i{position: absolute}
i.fa-x, i.fa-minus{color: #FA0A0A}
i.fa-check{color: #0AFA0A}
i.fa-battery-full{rotate: -90deg}

input[type="checkbox"]~.icons>i{transition: top .5s ease}
input[type="checkbox"]:checked~.icons>i.fa-check,
input[type="checkbox"]~.icons>i.fa-x{top: 3px}
input[type="checkbox"]:checked~.icons>i.fa-x,
input[type="checkbox"]~.icons>i.fa-check{top: -20px}


a{color: unset;text-decoration: none}
/* Barra de rolagem */
::-webkit-scrollbar {
    width: 5px;
    scrollbar-width: thin;
    scrollbar-color: var(--blue) #333
}
::-webkit-scrollbar-track {
    background: #333
}
::-webkit-scrollbar-thumb {
    background: var(--blue)
}
/* Autocomplete do input */
input:-internal-autofill-selected{
    box-shadow: 0 0 0 1000px var(--bg-white) inset;
    color: var(--color-black) !important;
}
button, input{outline: none;border: none;background: none}
button{cursor: pointer}
input{overflow: hidden}
footer>address{display: none}