@import "./global.css";
form{position: relative;top: 140px}
img{width: 150px;height: 72px}
.row{margin-top: 5px}
form>.row:last-child{margin-top: 0}
.box{display: flex;gap: 5px}
.box>i{font-size: 20px;color: var(--blue)}
input#operator{width: 100px}
form>.row>span{display: none}
form.error>.row>span{display: block}