*{margin: 0;padding: 0}
header, h2{display: none}
input, button{border: none;outline: none;outline: none}
button{background: none;cursor: pointer}
li{list-style: none}

footer{width: 100%;text-align: center}
/* footer, address */
.row,.col{display: flex}
.row{flex-direction: row;justify-content: center}
.col{flex-direction: column}

::-webkit-scrollbar {
    width: 3px;
    scrollbar-width: thin;
    scrollbar-color: #333 #fff
}
::-webkit-scrollbar-track {
    background: #fff
}
::-webkit-scrollbar-thumb {
    background: #333
}