*{margin: 0;padding: 0}
input{border: none;outline: none}
button{background: none;border: none;cursor: pointer}

.row,.col{display: flex}
.row{flex-direction: row;justify-content: center}
.col{flex-direction: column}