<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tabela</title>
    <link rel="stylesheet" href="/static/css/edit.css">
    <link rel="shortcut icon" href="/stacit/favicon.png" type="image/x-icon">
    <script src="/static/js/font-awesome.js"></script>
    <script type="module" src="/static/js/edit.js" defer></script>
</head>
<body>
    <header><h1>*CCO Informa*</h1></header>
    
    <main class="col">
        <section class="col">
            <h2>*CCO Informa*</h2>
            <ul>
                <li class="active"><button id="ocorrencias">Ocorrências</button></li>
                <li><button id="problemas">Problemas</button></li>
                <li><button id="sentidos">Sentidos</button></li>
                <li><button id="operadores">Operadores</button></li>
            </ul>
            <iframe src="/edit/ocorrencias" frameborder="0"></iframe>

        </section>
    </main>

    <footer><address>Adryan Maikel!</address></footer>
</body>
</html>