<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Adryan Maikel">
    <title>*CCO Informa*</title>
    <link rel="shortcut icon" href="/stacit/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/index.css">
    <script type="module" src="/static/js/index.js" defer></script>
    <script src="/static/js/font-awesome.js" crossorigin="anonymous"></script>
</head>
<body class="bg-white">
    <header><h1>*CCO Informa*</h1>
    
        <div class="row">
            <div class="buttons icons">
                <span>Configurações</span>
                <button id="open-config"><i class="fa-solid fa-gear"></i></button>
            </div>
        </div>
    

        <div id="menu-configurations">
            <h3>Configurações</h3>
            <div class="row">
                <div class="buttons icons">
                    <div class="row">
                        <span id="span-dark-mode" class="">Dark-Mode</span>
                        <button id="dark-mode"><i class="fa-solid fa-moon"></i></button>
                    </div>
                </div>

                <div class="buttons icons">
                    <div class="row">
                        <span id="span-cursor" class="">Cursor Pers.</span>
                        <button id="cursor"><i class="fa-solid fa-arrow-pointer"></i></button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="buttons icons">
                    <button id="confirm-config"><i class="fa-solid fa-check"></i></button>
                </div>
                <div class="buttons icons">
                    <button id="cancel-config"><i class="fa-solid fa-xmark"></i></button>
                </div>
            </div>
        </div>

    <div class="row">

    </div>

    </header>
    
    <main class="col">

        <section class="col">
            <h2>*CCO Informa*</h2>
    
            <iframe src="/edit/sheets" frameborder="0"></iframe>
        </section>
    </main>

    <footer><address>Adryan Maikel!</address></footer>
</body>
</html>