<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/index.js" defer></script>
    <script src="https://kit.fontawesome.com/3b629842c1.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>APP</h1>
    </header>
    <main>
        <div id="smartphone">
            <img id="iphone" src="/static/img/iphone.png" alt="imagem de um iphone 6">
            <div class="screen">
                <div class="status-bar">
                    <span id="relogio">00:00</span>
                    <div class="row">
                        <div id="i-wifi">
                            <i class="fa-solid fa-wifi"></i>
                            <i class="fa-solid fa-minus"></i>
                        </div>
                        <i class="fa-solid fa-battery-three-quarters"></i>
                    </div>
                </div>
                <iframe src="/login" frameborder="0"></iframe>
            </div>
            <div id="buttons"></div>
        </div>
    </main>
    <footer>
        <address>Adryan Maikel</address>
    </footer>
</body>
</html>