<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/index.js" defer></script>
    <script src="https://kit.fontawesome.com/3b629842c1.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>APP</h1>
    </header>
    <main class="center">
        <section id="smartphone">
            <img id="iphone" src="/static/img/iphone.png" alt="imagem de um iphone 6">
            <div class="screen">
                <div class="status-bar row">
                    <span id="relogio">00:00</span>
                    <div id="open-menu" class="icons center">
                        <i class="fa-solid fa-gear"></i>
                    </div>
                    <div class="row">
                        <div id="i-wifi" class="icons center">
                            <i class="fa-solid fa-wifi"></i>
                            <i class="fa-solid fa-minus"></i>
                        </div>
                        <i class="fa-solid fa-battery-full"></i>
                    </div>
                </div>
                <div class="menu-options">
                    <div class="row">
                        <label for="show_seconds" class="row button">
                            <span>Mostrar segundos</span>
                            <input type="checkbox" id="show_seconds" class="show_seconds">
                            <div class="icons center">
                                <i class="fa-solid fa-check"></i>
                                <i class="fa-solid fa-x"></i>
                            </div>
                        </label>
                        <label for="dark_mode" class="row button">
                            <span>Dark mode</span>
                            <input type="checkbox" name="dark_mode" id="dark_mode">
                            <div class="icons center">
                                <i class="fa-solid fa-check"></i>
                                <i class="fa-solid fa-x"></i>
                            </div>
                        </label>
                    </div>
                </div>
                <iframe src="/login" frameborder="0"></iframe>
            </div>
            <div id="buttons"></div>
        </section>
    </main>
    <footer>
        <address>Adryan Maikel</address>
    </footer>
</body>
</html>