<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Adryan Maikel">
    <title>Document</title>
    <link rel="stylesheet" href="/static/sheets/informations.css">
    <script type="module" src="/static/sheets/informations.js"></script>

    <style>
/*  */
iframe{
    width: 100%; height: calc(100vh - 29px);
    background-color: #FFF;
}

ul{
    width: 100%;
    display: inline-flex;
    background-color: #A4A2AC;
}
li{
    border: 1px solid #333;
    background-color: #A4A2AC;
}
li:first-child{border-left: none}li:last-child{border-right: none}
li.selected{background-color: #FFF;border-bottom: none;}
li, li>button{width: 100%}

    </style>
</head>
<body>

    <section>
        <ul>
            <li class="selected"><button id="ocorrencias">Ocorrências</button></li>
            <li><button id="operators">Operadores</button></li>
            <li><button id="problemas">Problemas</button></li>
            <li><button id="sentidos">Sentidos</button></li>
        </ul>
        <iframe src="/sheet/ocorrencias" frameborder="0"></iframe>
    </section>



</body>
</html>